[run]
branch = True
source =
    auditlog
    chat
    friends
    groups
    roles
    users
    chat_app_django
omit =
    */migrations/*
    */admin.py
    */apps.py
    */views.py
    */wsgi.py
    */asgi.py
    */manage.py
    */tests/*
    chat/context_processors.py
    chat/forms.py
    chat/urls.py
    chat_app_django/settings.py
    chat_app_django/urls.py
    chat_app_django/media_utils.py
    */chat/context_processors.py
    */chat/forms.py
    */chat/urls.py
    */chat_app_django/settings.py
    */chat_app_django/urls.py
    */chat_app_django/media_utils.py

[report]
omit =
    */tests/*
    chat/context_processors.py
    chat/forms.py
    chat/urls.py
    chat_app_django/settings.py
    chat_app_django/urls.py
    chat_app_django/media_utils.py
    */chat/context_processors.py
    */chat/forms.py
    */chat/urls.py
    */chat_app_django/settings.py
    */chat_app_django/urls.py
    */chat_app_django/media_utils.py
show_missing = True
skip_covered = False
fail_under = 85
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
