.appShell {
  width: 100%;
  padding: 32px 32px 72px;
  color: var(--color-text);
  padding-bottom: 0px;
  padding-top: 0px;

}

.content {
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

@media (max-width: 881px) {
  .appShell {
    padding: 20px 14px 48px;
    max-width: 100%;
  }
}

